:root {
    --true-tag-size: 165mm;

    --true-page-margin: 25mm;

    --page-aspect-ratio: 8.5/11;
    --sim-scale: 1;

    --tag-size: calc(var(--true-tag-size) * var(--sim-scale));;
    --tag-padding: calc(var(--tag-size) / 10);
    --tag-margin: calc(var(--true-page-margin) * var(--sim-scale));

    --true-font-size: 14pt;
    --font-size: calc(var(--true-font-size) * var(--sim-scale));

}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;

    box-sizing: border-box;

    overflow: hidden;

    width: 100%;
    aspect-ratio: var(--page-aspect-ratio);

    padding: var(--tag-margin);
}

.tag-section {
    background-color: white;

    /* Tag sections should have a dotted line around them to make it easier to cut them out */
    border-color: gray;
    border-style: dashed;
    border-width: 1px;

    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    padding: var(--tag-padding);
}

.tag-img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    width: var(--tag-size);
    height: var(--tag-size);
}

.tag-meta {
    margin-top: var(--tag-padding);
    font-size: var(--font-size);
}


.tag-info {
    width: var(--tag-size);
    text-align: center;
}

#generator-config {
    padding: 1em;

    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 1px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex-grow: 1;

    width: min-content;
    height: 100%;
}

@media screen {
    body {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        height: 100vh;
        background-color: Gainsboro;
    }
    
    #pages {
        overflow-y: scroll;
        flex-grow: 2;
        height: 100vh;
        flex-shrink: 0;
        width: 60%;

        padding: 1em;

        display: block;
    }

    .page {
        background-color: white;

        margin: 0;
        margin-bottom: 1em;

        /* Add a shadow to make it stand out a little */
        box-shadow: 0 0 0.5em 0.5em gray;
    }

    .tag-img {
        border-color:salmon;
        border-style: solid;
        border-width: 1px;
    }
}

/* The styling for the print and screen */
@media print {
    
    :root {
        --sim-scale: 1;
    }

    body {
        background-color: black;
    }

    #generator-config {
        display: none;
    }

    #pages {
        width: 100%;
        height: 100%;
        display: block;
    }

    .page {
        width: 8.5in;
        height: 11in;
        break-after: always;
    }

    .tag-img {
        width: var(--true-tag-size);
    }


}

@page {
    size: 8.5in 11in;
    margin: 0;
}

