:root {
	--true-tag-size: 100mm;

	--true-page-margin: 25mm;

	--printer-margin-x: 0mm;
	--printer-margin-y: 0mm;

	--x-scale: 1;
	--y-scale: 1;

	--page-aspect-ratio: 8.5/11;
	--sim-scale: 1;

	--tag-size-x: calc(var(--true-tag-size) * var(--sim-scale));
	--tag-size-y: calc(var(--true-tag-size) * var(--sim-scale));
	--tag-padding-x: calc(var(--tag-size-x) / 10);
	--tag-padding-y: calc(var(--tag-size-y) / 10);
	--page-margin-x: calc(var(--true-page-margin) * var(--sim-scale));
	--page-margin-y: calc(var(--true-page-margin) * var(--sim-scale));

	--padding-visual-red: #ed8e8e;
	--padding-visual-light-red: white;
	--padding-stripe-size: 5px;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

@media screen {
	body {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		overflow: hidden;
		height: 100vh;
		background-color: Gainsboro;
	}

	.tag-img {
		border-color:salmon;
		border-style: solid;
		border-width: 1px;
	}
}

/* The styling for the print and screen */
@media print {
	
	:root {
		--sim-scale: 1 !important;
		/* The X and Y scale represent how much to scale the contents of the page to get dimensional accuracy with the printer margins */

		--tag-size-x: calc(var(--true-tag-size) * var(--x-scale));
		--tag-size-y: calc(var(--true-tag-size) * var(--y-scale));

		--page-margin-x: calc(var(--true-page-margin) * var(--x-scale));
		--page-margin-y: calc(var(--true-page-margin) * var(--y-scale));
	}

	body {
		background-color: black;
		display: contents;
	}

	.page {
		display: block;
	}

	#generator-config {
		display: none !important;
	}

}

@page {
	size: 8.5in 11in;
	margin: 0;
}