:root {
	--true-tag-size: 165mm;

	--true-page-margin: 25mm;
	--printer-margin: 0mm;

	--size-offset: calc(var(--printer-margin) * 2);

	--page-aspect-ratio: 8.5/11;
	--sim-scale: 1;

	--tag-size: calc(calc(var(--true-tag-size) + var(--size-offset)) * var(--sim-scale));;
	--tag-padding: calc(var(--tag-size) / 10);
	--page-margin: calc(calc(var(--true-page-margin) + var(--size-offset)) * var(--sim-scale));

	--padding-visual-red: #ed8e8e;
	--padding-visual-light-red: white;
	--padding-stripe-size: 5px;
	/* #bc6060 */
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

@media screen {
	body {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		overflow: hidden;
		height: 100vh;
		background-color: Gainsboro;
	}

	.tag-img {
		border-color:salmon;
		border-style: solid;
		border-width: 1px;
	}
}

/* The styling for the print and screen */
@media print {
	
	:root {
		--sim-scale: 1 !important;
	}

	body {
		background-color: black;
	}

	#generator-config {
		display: none !important;
	}

	.tag-img {
		width: var(--true-tag-size);
	}

}

@page {
	size: 8.5in 11in;
	margin: 0;
}